@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// body {
//   height: 100vh;
// }

:root {
  margin-inline: 18%;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu::before {
  display: none;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after {
  &:hover {
    border-bottom-color: rgba(84, 51, 16, 0) !important;
  }

  border-bottom-color: rgba(84, 51, 16, 0);
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child::after {
  border-bottom-color: rgba(84, 51, 16, 0) !important;
}

.ant-switch-inner-checked {
  color: black !important;
}

.ant-switch-inner-unchecked {
  color: white !important;
}

.navbar-container {
  z-index: 99999;
  position: fixed;
  text-align: center;
}

#footer-container {
  padding-block: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 30, 30);
  left: 0;
  width: 100%;
  z-index: 99999;
  position: absolute;
  margin-top: 100px;
}

.custom-navbar {
  left: 0;
  top: 0;
  z-index: 99999;
  position: fixed;
  background-color: #543310;
  padding-block: 20px !important;
  column-gap: 100px;
  width: 100%;
}

.switch-container {
  z-index: 9999;
  position: fixed;
  width: 25%;
}

.custom-switch {
  margin-left: 2%;
  left: 0;
  top: 0;
  padding-top: 250px;
  z-index: 99999;
  position: fixed;
  row-gap: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.thumbnail-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.timeline-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 20px;
}

:root::-webkit-scrollbar {
  display: none;
}

.ant-timeline-item-content,
.ant-timeline-item-label {
  font-size: 16px;
}

.ant-timeline-item.ant-timeline-item-last.ant-timeline-item-right {
  padding-bottom: 0;
}

.project-thumbnail {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.project-thumbnail-mask:hover {
  background-color: black;
  color: black;
  display: block !important;
}

.contacts-container {
  width: 100%;
  text-align: left;
  margin-top: 25px;

  .contact {
    font-size: 18px;
    font-weight: 500;
  }
}

.avatar {
  width: 50%;
  // margin-block: 10px;
  align-items: center;
  justify-content: flex-end;

  // & > * {
  //   border: 2px solid #543310;
  // }
}

.links-container {
  column-gap: 10px;

  & > * {
    font-size: 30px;
  }
}

.developer-name {
  font-weight: 800 !important;
  font-size: 50px !important;
}

.avatar-web {
  border: 2px solid #543310;
}
.container-2 {
  .location {
    font-size: 18px;
    border: none !important;
    outline: none !important;
    font-weight: 600 !important;
  }
}

.sub-header {
  justify-content: center;
  text-align: justify;

  .sub-header-content {
    font-size: 18px;
  }
}

.project-image {
  border-radius: 10px;
}

.avatar-mobile {
  display: none;
}

@media only screen and (max-width: 460px) {
  .avatar-mobile {
    margin-block: 40px;
    display: inline-block;

    border: 2px solid #543310;
  }
  .avatar-web {
    display: none;
  }

  .avatar-pic-mobile {
    height: 100px;
    width: 100px;
  }
  .avatar-pic {
    display: none;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1412px) {
  :root {
    margin: 0;
  }

  .avatar {
    width: 50%;
    // margin-block: 10px;
    margin-top: 20px;
    align-items: center;
    // justify-content: center;

    & > * {
      border: 2px solid #543310;
    }
  }

  .sub-header {
    justify-content: center;
    text-align: justify;

    .sub-header-content {
      font-size: 18px;
    }
  }

  .developer-name {
    font-size: 3rem;
  }

  .footer-container {
    margin-top: 100px;
  }

  .container-2 {
    outline: none;
    border: none;
  }

  .switch-container {
    display: none;
  }
  .custom-switch {
    display: none;
  }
}
